h2{
	font-family: font-family: "Times New Roman", Times, serif;
	text-align: center;
	background-color: black;
	color: white;
	padding: 5px;
}


p{
	font-family: font-family: "Times New Roman", Times, serif;
	margin-left: 100px;
	margin-right: 100px;
	margin-top:25px;
}

img{
	border-radius: 8px;
	width: 35%
	
}

header{
	background-color: black;
}

img{
	border-radius: 8px;
	width: 15%;
}
ul{
  list-style: none;
}

li{
	display: inline;
	margin: 10px;
	text-decoration: none;
}

li a {
	color: white;
	text-decoration: none;
}

li a:hover {
	color: red;
	text-decoration: underline;
}

footer{
	background-color: black;
	color: white;
	text-align: center;
	padding: 20px
}

.footer-link{
	background-color: black;
	color: white;
}
 img{
 	width: 25%
 }
.footer-link:hover{
	background-color: black;
	color: white;
}
ul{
	list-style: none;
}
p{
	font-size: 20px
}

h2{
	 font-size: 20px
}

ul{
	font-size: 1.110em; /* 30px/16=1.875em */
}












